Django==4.2.4
numpy==1.25.2
opencv-python==4.8.0.76
pandas==2.0.3
python-docx==0.8.11
tqdm==4.66.1
# ultralytics
roboflow
django-environ==0.9.0
psycopg2-binary
urllib3==1.26.6
Fabric3 @ git+https://github.com/ahmedyasserays/fabric.git@ff01d6b7c65ca6477261a92765e25b5f36fa8dfa
gunicorn==20.1.0