

/* Custom styles for centering */
.center-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Adjust if needed */
}


.text-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif; /* Change font */
    color: #333; /* Change text color */
    padding: 2rem; /* Add padding */
}

.text-top-column {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: top;
    text-align: top;
    font-family: 'Roboto', sans-serif; /* Change font */
    color: #333; /* Change text color */
    padding: 2rem; /* Add padding */
}

/* Increase spacing between components */
.text-center-column p {
    margin: 1rem 0;
}

/* Animate the button on hover */
.btn-primary {
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Set background color */
body {
    background-color: #ffffff;
}

/* Custom styles for h1 */
h1 {
    font-weight: bold; /* Make the h1 more bold */
    margin-bottom: 1rem; /* Add spacing below h1 */
}
h2 {
    font-weight: bold; /* Make the h1 more bold */
    margin-bottom: 1rem; /* Add spacing below h1 */
}

/* Custom styles for buttons */
.full-width-button {
    width: 100%; /* Set width to 100% */
}

#uploaded-image {
    max-width: 800px;
    max-height: 800px;
    width: auto;
    height: auto;
}
/* Set a maximum width for the uploaded image to prevent excessive scaling on large screens */
#uploaded-image {
    max-width: 100%;
}

/* Adjust margins for improved spacing on smaller devices */
.mb-4 {
    margin-bottom: 1rem;
}
.mt-2 {
    margin-top: 0.5rem;
}

#draw-canvas {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 800px;
}

#zoom-canvas {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 400px;
}


.custom-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.custom-row .left-side {
    /* width: calc(((100% - 12px)/3)*2); */
    flex: 1;
    max-width: 800px;
}


.zoon-parent {
    width: 100%;
}


@media (min-width: 541px){
    #zoom-canvas {
        display: block !important;
    }    
}

@media (max-width: 1024px) {
    #draw-canvas, #zoom-canvas {
        display: none;
    }
    .custom-row {
        flex-direction: column;

    }
    .custom-row>div {
        width: 100% !important;
    }

    .custom-row .right-side{
        display: flex;
        gap: 12px;
        flex-direction: row;
    }

    .custom-row .right-side>div {
        width: calc((100% - 12px) / 2);
    }
    .right-side .mt-4 {
        margin-top: 0 !important;
    }

} 



@media (max-width: 540px) {
    .btns-container {
        flex-direction: column;
        gap: 8px;
    }

    .custom-row .right-side{
        flex-direction: column-reverse;
    }

    .custom-row .right-side>div {
        width: 100%;
    }
    .text-center-column {
        padding: 0;
    }


    body {
        padding: 12px;
    }
    .center-content {
        min-height: 0; /* Adjust if needed */
    }

}

@media (max-width: 360px) {
    .navbar-brand {
        font-size: 1.05rem;
    }
}
/* @media (max-width: 768px) {
    #zoom-canvas {
        width: 50%;
        height: 50%;
    }

    #draw-canvas {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: 576px) {
    #zoom-canvas {
        display: none;
    }
    #draw-canvas {
        width: 40%;
        height: 40%;
    }
}

@media (max-width: 400px) {
    #zoom-canvas {
        display: none;
    }
    #draw-canvas {
        width: 30%;
        height: 30%;
    }
} */